
.raccoon-img {
    clip-path: circle(50% at 50% 50%);
}
body {
    background-color: black;
    color: white;
    background-image: url('../assets/wallpaper.gif');
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    backdrop-filter: blur(30rem);

}
.footer-container {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    backdrop-filter: blur(10rem);
    height: fit-content;
    width: fit-content;
    padding-inline: 2rem;
    padding-block: 5px;
    margin: 2px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    z-index: -1;
}

.footer-text-container {
    margin: 0;
    font-size: 14px;
}
.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.nav-container {
    display: flex;
    align-items: center;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    margin: 0 15px;
    transition: color 0.3s ease, transform 0.3s ease;
}

.nav-link:hover {
    color: #1e90ff;
    transform: scale(1.1);
}

.user-info-container {
    color: #fff;
    font-size: 14px;
    border-left: 2px;
    border-color: white;
    display: flex;
    align-items: center;
    margin-left: auto;
}

.user-info-static {
    font-weight: bold;
    margin-right: 5px;
}

.user-info-full-name {
    font-style: italic;
}

/* RGB */

.block {
    position: relative;
    margin: 50px auto;
    width: fit-content;
    height: fit-content;
  }
  
  .block:before {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, 
      #0000ff, #00ff00,#ffff00, #ff0000);
    background-size: 300%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -3;
    animation: steam 20s linear infinite;
    opacity: .4;
  }
  
  @keyframes steam {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .block:before {
    filter: blur(50px);
  }